// ==========================================================================
// BREAKPOINTS
// ==========================================================================



// At least
// ---------------------------------------------------------------------------

@mixin at-least($breakpoint) {
  @if $breakpoint == 'small' {
    @media (min-width: $bp-small) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (min-width: $bp-medium) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: $bp-large) {
      @content;
    }
  }
}



// Until
// ---------------------------------------------------------------------------

@mixin until($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: $bp-small) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (max-width: $bp-medium) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (max-width: $bp-large) {
      @content;
    }
  }
}
