// ==========================================================================
// CLEARFIX
// ==========================================================================



@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
