<header class="page-header js-header" id="pageHeader">
  <div class="wrapper">
    <a class="site-logo" href="">
      <!-- <img class="site-nav__logo" src="{{ site.baseurl }}/img/graphite-logo_color.svg"> -->
    </a>
    <nav class="site-nav">
      <ul class="site-nav__list" id="anchors">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#overview">Overview</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#gettingStarted">Getting Started</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#integrations">Integrations</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#docs">Docs</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#support">Support</a>
        </li>
      </ul>
      <ul class="site-nav__actions">
        <li class="site-nav__item">
          <a class="site-nav__button btn btn--gradient" href="#">
            <span>Live Demo</span>
          </a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__button btn btn--primary" href="#">Download</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
