<div class="banner-section banner-section--footer">
  <div class="wrapper">
    <div class="page-section__column-wrap">
      <h2 class="section-header">Contact</h2>
      <div class="page-section__column">
        <hr class="hr">
        <h3 class="section-subhead">Get in Touch</h3>
        <ul class="links-list">
          <li class="links-list__item">
            <a class="links-list__link" href="http://graphite.readthedocs.org/en/latest/">Documentation</a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="https://answers.launchpad.net/graphite" target="_blank">Launchpad Answers</a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="http://irc.netsplit.de/channels/details.php?room=%23graphite&net=freenode" target="_blank">irc channel</a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="https://github.com/graphite-project" target="_blank">github projects</a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="http://shop.oreilly.com/product/0636920035794.do" target="_blank">Buy the Graphite book</a>
          </li>
        </ul>
      </div>
      <div class="page-section__column">
        <ul class="btn-group">
          <!-- <li class="btn-group__item"><a class="btn btn--outline" href="#">Live demo</a></li> -->
          <li class="btn-group__item"><a class="btn btn--secondary" href="https://launchpad.net/graphite/+download" target="_blank">Download</a></li>
        </ul>
        <ul class="links-list links-list--margin" id="footerAnchors">
          <li class="links-list__item">
            <a class="links-list__link anchor" href="#overview"><strong>Overview</strong></a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link anchor" href="#gettingStarted"><strong>Getting Started</strong></a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link anchor" href="#integrations"><strong>Integrations</strong></a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="http://graphite.readthedocs.org/en/latest/" target="_blank"><strong>Docs</strong></a>
          </li>
           <!--li class="links-list__item">
            <a class="links-list__link" href="/case-studies/" target="_blank"><strong>Case Studies</strong></a>
          </li-->
          <li class="links-list__item">
            <a class="links-list__link" href="/quick-start-guides/" target="_blank"><strong>Quick Start Guides</strong></a>
          </li>
          <li class="links-list__item">
            <a class="links-list__link" href="https://answers.launchpad.net/graphite" target="_blank"><strong>Support</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include web-fonts.html %}
