<header class="page-header js-header" id="pageHeader">
  <div class="wrapper">
    <a class="site-logo" href="/"></a>
    <nav class="site-nav" id="siteNav">
      <ul class="site-nav__list" id="anchors">
        <li class="site-nav__item">
          <a class="site-nav__link" href="/#overview">Overview</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/#gettingStarted">Getting Started</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/#integrations">Integrations</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/case-studies">Case Studies</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/quick-start-guides">Quickstart Guides</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="http://graphite.readthedocs.org/en/latest/" target="_blank">Docs</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="https://answers.launchpad.net/graphite" target="_blank">Support</a>
        </li>
      </ul>
       <ul class="site-nav__actions">
        <!-- <li class="site-nav__item">
          <a class="site-nav__button btn btn--gradient" href="#">
            <span>Live Demo</span>
          </a>
        </li> -->
        <li class="site-nav__item">
          <a class="site-nav__button btn btn--primary" href="https://launchpad.net/graphite/+download" target="_blank">Download</a>
        </li>
      </ul>
    </nav>
    <button class="site-nav__toggle" id="siteNavToggle">
      <span class="t"></span>
      <span class="m"></span>
      <span class="b"></span>
    </button>
  </div>
</header>
