// ==========================================================================
// HOME
// ==========================================================================

/* about */
p.intro {
  margin-bottom: rem-calc(50);
}

/* Questions */
.qanda {
  p:nth-child(odd){
    margin-bottom: 0;
  }
}
