// ==========================================================================
// LISTS
// ==========================================================================



// Links list
// --------------------------------------------------------------------------

.links-list {
  display: block;
}

.links-list--margin {
  margin-top: rem-calc(40);
}

.links-list__link {
  color: $color-white;
  text-decoration: none;
}



// Button group
// --------------------------------------------------------------------------

.btn-group {
  margin-bottom: rem-calc(40);

  &:last-child {
    margin: 0;
  }
}

.footer-btn {
  position: absolute; 
  right: 56px; 
  top:120px;
}

.btn-group__item {
  display: block;
  margin-bottom: rem-calc(20);

  @include at-least(small) {
    display: inline-block;
    margin: rem-calc(0 0 0 20);

    &:first-child {
      margin: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}