---
layout: compress
---

<!doctype html>
<html class="no-js" lang="">
  {% include head.html %}
  <body>
    <div class="page">
      {% include page-header.html %}
      {{ content }}
      {% include page-footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: (target.offset().top) - 122
              }, 250);
              return false;
            }
          }
        });
      });

      $(function() {
        $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll >= 200) {
            $(".page-header").addClass('smaller');
          } else {
            $(".page-header").removeClass("smaller");
          }
        });
      });
    </script>
  </body>
</html>
