// =========================================================================
// GRID
// =========================================================================



// Wrapper
// -------------------------------------------------------------------------

.wrapper {
  @include clearfix;
  padding: rem-calc(0 20);

  @include at-least(small) {
    max-width: rem-calc(1130);
    margin: 0 auto;
  }
}
