// =========================================================================
// PAGE HEADER
// =========================================================================



// Header
// -------------------------------------------------------------------------

.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $color-white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .35);

  @media (min-width: $bp-nav) {
    width: 100%;
  }

  &:before {
    display: block;
    width: 100%;
    height: rem-calc(6);
    transition: opacity 100ms;
    background: linear-gradient(to right, $color-turquoise, $color-blue);
    content: '';
    opacity: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 100ms;
    background: linear-gradient(to left, $color-purple, $color-curious-blue) no-repeat;
    content: '';
    opacity: 0;
  }
}

.page-header.smaller {
  &:before {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

.page-header > .wrapper {
  @include clearfix;
  position: relative; // z-index
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  transition: all 250ms;

  @include at-least(small) {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(52);
  }
}

.page-header.smaller > .wrapper {
  @include at-least(small) {
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(0);
  }

  @media (min-width: $bp-nav) {
    padding-bottom: 0;
  }
}



// Logo
// -------------------------------------------------------------------------

.site-logo {
  position: relative;
  width: rem-calc(166);
  height: rem-calc(55);
  float: left;
  background: url('../img/graphite-logo_color.png') 0 50% no-repeat;
  background-size: contain;

  @include at-least(small) {
    width: rem-calc(287);
    height: rem-calc(76);
  }

  @media (min-width: $bp-nav) {
    z-index: 500;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/graphite-logo_color@2x.png');
  }
}

.smaller .site-logo {
  background-image: url('../img/graphite-logo_white.png');
  margin-top: rem-calc(20);
  width: rem-calc(190);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/graphite-logo_white@2x.png');
  }
}



// Site nav
// -------------------------------------------------------------------------

.site-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  padding: rem-calc(100 40 40);
  transition: left ease-in-out 250ms;
  background: rgba($color-haiti, .9);
  will-change: transform;

  @media (min-width: $bp-nav) {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: rem-calc(34 0 0 166); // align nav items w/ logo and offset for logo width
    background: transparent;
    text-align: right;
  }
}

.site-nav.nav-open {
  left: rem-calc(40);

  @media (min-width: $bp-nav) {
    left: auto;
  }
}

.site-nav__list,
.site-nav__actions {
  @media (min-width: $bp-nav) {
    display: inline-block;
    vertical-align: middle;
  }
}

.smaller .site-nav__list,
.smaller .site-nav__actions {
  vertical-align: top;
}

.site-nav__actions {
  @media (min-width: rem-calc(525)) {
    display: inline-block;
  }
}

.site-nav__list {
  margin-bottom: rem-calc(20);

  @media (min-width: $bp-nav) {
    display: inline-block;
    margin-bottom: 0;
    position: absolute;
    right: 0;
  }
}

.site-nav__item {
  display: block;
  padding: rem-calc(0 12); // was 0 15

  @media (min-width: $bp-nav) {
    display: inline-block;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

.site-nav__button.btn--primary {
position: relative;
@media (min-width: $bp-nav) {
  top: rem-calc(-84);
  right: rem-calc(-10);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
}

.site-nav__actions > .site-nav__item {
  padding: rem-calc(0 7);

  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  @include roboto-condensed;
  display: inline-block;
  padding: rem-calc(15 0);
  color: $color-white;
  text-decoration: none;

  @media (min-width: $bp-nav) {
    display: block;
    padding: 0;
    transition: color 100ms;
    color: $color-medium-gray;
    font-size: $font-size-delta;
  }
}

.smaller .site-nav__link {
  @media (min-width: $bp-nav) {
    display: block;
    height: rem-calc(62);
    padding-top: rem-calc(18);
    color: $color-white;

    &.active {
      border-bottom: 4px solid rgba($color-white, .8);
    }
  }
}

.smaller .site-nav__item {
  &:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}

.smaller .site-nav__button.btn--gradient {
  @include at-least(small) {
    @include font-smoothing;
    border-color: $color-white;
    background: transparent;
    color: $color-white;

    &:before {
      display: none;
    }

    &:hover {
      background: $color-white;
      color: $color-curious-blue;
    }
  }
}

// .smaller .site-nav__button.btn--primary {
//   position: relative;
// top: 0;
// right: 0;
//   @include at-least(small) {
//     border-color: $color-white;
//     background: $color-white;
//     color: $color-curious-blue;
//     border-top-left-radius: $border-radius;
//     border-top-right-radius: $border-radius;
//     &:hover {
//       @include font-smoothing;
//       background: transparent;
//       color: $color-white;
//     }
//   }
// }

.smaller .site-nav__button.btn--primary {
  position: relative;
  top: 0;
  right: 0;
  @media (min-width: $bp-nav) {
    top: rem-calc(-41);
    line-height: 2.25;
    right: 0;
    height: rem-calc(36);
    border: 1px solid $color-white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @include at-least(small) {
    border-color: $color-white;
    background: $color-white;
    color: $color-curious-blue;
    &:hover {
      @include font-smoothing;
      background: transparent;
      color: $color-white;
    }
  }
}

.site-nav__toggle {
  display: block;
  position: relative;
  width: rem-calc(40);
  height: rem-calc(40);
  margin-top: rem-calc(5);
  padding: 0;
  float: right;
  border: 0;
  border-radius: rem-calc(4);
  outline: none;
  background: transparent;

  @include at-least(small) {
    margin-top: rem-calc(15);
  }

  @media (min-width: $bp-nav) {
    display: none;
  }
}

.site-nav__toggle > .m,
.site-nav__toggle > .t,
.site-nav__toggle > .b {
  display: block;
  position: absolute;
  height: rem-calc(2);
  pointer-events: none;
}

.site-nav__toggle > .m {
  top: rem-calc(19);
  right: rem-calc(8);
  left: rem-calc(8);
  transition: opacity ease-in-out 125ms;
  background-color: $color-haiti;
  opacity: 1;
  transition-delay: 125ms, 0s;
}

.site-nav__toggle > .t,
.site-nav__toggle > .b {
  right: rem-calc(8);
  left: rem-calc(8);
  background-color: $color-haiti;
  content: '';
  transition-duration: 125ms, 125ms;
  transition-delay: 125ms, 0s;
}

.site-nav__toggle > .t {
  top: rem-calc(10);
  transition-property: top, transform;
}

.site-nav__toggle > .b {
  bottom: rem-calc(10);
  transition-property: bottom, transform;
}

.smaller .site-nav__toggle > .m,
.smaller .site-nav__toggle > .t,
.smaller .site-nav__toggle > .b {
  background: $color-white;
}

.site-nav__toggle.nav-open > .m {
  opacity: 0;
  transition-delay: 0s, 125ms;
}

.site-nav__toggle.nav-open > .t,
.site-nav__toggle.nav-open > .b {
  background-color: $color-white;
  transition-delay: 0s, 125ms;
}

.site-nav__toggle.nav-open > .t {
  top: rem-calc(19);
  transform: rotate(45deg);
}

.site-nav__toggle.nav-open > .b {
  bottom: rem-calc(19);
  transform: rotate(-45deg);
}
